/* --- // general // --- */
* {
  /* height: 100%;
  width: 100%; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(226, 241, 240);
}

#app {
  display: flex;
  flex-direction: column;
}

/* -------------------- */
/* --- // header // --- */
/* -------------------- */
#header {
  /* display */
  height: 50px;
  display: flex;
  background-color: #0d8d8d;
  justify-content: space-between;
  box-shadow: 0 7px 18px rgb(76, 78, 78);

  /* font */
  color: rgb(242, 248, 248);
}

#logo-container {
    font-size: 20px;
    text-align: center;
    padding: 15px 15px;
}

#nav-container {
  overflow: hidden;
  display: flex;
}

#nav-container ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  overflow: hidden;
}

#nav-container ul li {
  text-align: center;
  padding: 15px 17px;
  font-size: 18px;
  font-weight: 25px;
}

#nav-container ul li:hover {
  background-color: rgb(26, 175, 168);
  font-weight: 35px;
}

/* ------------------ */
/* --- // main // --- */
/* ------------------ */

/* -------------------- */
/* --- // footer // --- */
/* -------------------- */
#footer {
  height: 200px;
}
